body {
  /* padding-top:80px; */
  word-wrap: break-word;
  height: 1000px;
  background-color: lightgray;
}


.navi {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-header {
  color :blue;
}

.btn-default {
  background: gray;
}


nav {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

  h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: blue;
}

h3 {
  font-size: 1.2rem;
}

img {
  height: 200px;
}

/* profile page CSS */
.emailShow {
  width: 75%;
  margin-bottom: 15px;
}

.msgs {
  height: 60px;
  width: 75%;
  display: block;
}

#profile_pic {
  background: white;
}

.headingThree {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

form {
  margin-top: 20px;
}

.labelEmail {
  display: block;
}

.add {
  margin-top: 10px;
}

.well {
  height: 500px;
  width: 100%;
  background: gray;
}

input {
  border: 1px lightcyan solid;
  box-shadow: 2px 2px 2px 2px;
}

.col-sm-8 {
  display: none;
}

p {
  margin-top: 25px;
}

.item {
  padding-top: 20px;
}

.btn-default {
  margin-top: 20px;
}

.message {
  font-size: 2rem;
  list-style: none;
}

li {
  color: lightgray;
  font-size: 10px;
  background: blue;
  background-size: cover;
  background-position: center center;
  height: 200px;
  border-radius: 5%;
  padding: 10%;
  overflow: hidden;
  margin: 2%;
}

ul.messages {
  display: grid;
  grid-template-columns: repeat(2, 80%);
  width: 75%;
  margin-left: 0;
  padding-left: 0;
}
